[submodule "api"]
	path = api
	url = https://github.com/cider-ci/cider-ci_api.git

[submodule "builder"]
	path = builder
	url = https://github.com/cider-ci/cider-ci_builder.git

[submodule "dispatcher"]
	path = dispatcher
	url = https://github.com/cider-ci/cider-ci_dispatcher.git

[submodule "demo-project-bash"]
	path = demo-project-bash
	url = https://github.com/cider-ci/cider-ci_demo-project-bash.git

[submodule "deploy"]
	path = deploy
	url = https://github.com/cider-ci/cider-ci_deploy.git

[submodule "documentation-source"]
	path = documentation-source
	url = https://github.com/cider-ci/cider-ci_documentation-source.git

[submodule "executor"]
	path = executor
	url = https://github.com/cider-ci/cider-ci_executor.git

[submodule "integration-tests"]
	path = integration-tests
	url = https://github.com/cider-ci/cider-ci_integration-tests.git

[submodule "notifier"]
	path = notifier
	url = https://github.com/cider-ci/cider-ci_notifier.git

[submodule "repository"]
	path = repository
	url = https://github.com/cider-ci/cider-ci_repository.git

[submodule "reverse-proxy"]
	path = reverse-proxy
	url = https://github.com/cider-ci/cider-ci_reverse-proxy.git

[submodule "storage"]
	path = storage
	url = https://github.com/cider-ci/cider-ci_storage.git

[submodule "user-interface"]
	path = user-interface
	url = https://github.com/cider-ci/cider-ci_user-interface.git
[submodule "lein-dev-plugin"]
	path = lein-dev-plugin
	url = https://github.com/cider-ci/cider-ci_lein-dev-plugin
[submodule "clj-utils"]
	path = clj-utils
	url = https://github.com/cider-ci/cider-ci_clj-utils.git
