[submodule "demo-project-bash"]
	path = demo-project-bash
	url = https://github.com/cider-ci/cider-ci_demo-project-bash.git

[submodule "deploy"]
	path = deploy
	url = https://github.com/cider-ci/cider-ci_deploy.git

[submodule "documentation-source"]
	path = documentation-source
	url = https://github.com/cider-ci/cider-ci_documentation-source.git

[submodule "integration-tests"]
	path = integration-tests
	url = https://github.com/cider-ci/cider-ci_integration-tests.git

[submodule "server"]
	path = server
	url = https://github.com/cider-ci/cider-ci_server.git

[submodule "user-interface"]
	path = user-interface
	url = https://github.com/cider-ci/cider-ci_user-interface.git

[submodule "lein-dev-plugin"]
	path = lein-dev-plugin
	url = https://github.com/cider-ci/cider-ci_lein-dev-plugin

[submodule "clj-utils"]
	path = clj-utils
	url = https://github.com/cider-ci/cider-ci_clj-utils.git

[submodule "documentation"]
	path = documentation
	url = https://github.com/cider-ci/cider-ci_documentation.git
